body {
	background-image: url("../images/back_image.jpg");
}

.weather {
	float: left;
}

span {
	color: white;
	font-size: 11px;
	margin-right: 10px;
}

#weather_cla {
	color: greenyellow;
}

nav ul li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0 6px;
}

nav ul {
	margin-top: 10px;
	margin-bottom: 0;
	position: absolute;
	top: 0;
	right: 0;
}

nav a {
	color: white;
	font-size: 11px;
}
#logo {
	width: 220px;
	height:70px;
	margin-bottom: 15px;
}

#search {
	padding-top: 250px;
	text-align: center;
}

#btn {
	color: white;
	background-color: #3385ff;
	width: 15%;
	max-width: 120px;
	border: none;
	height: 37px;
	padding: 0;
	margin-left: -6px;
	/*font-size: 12px;*/
	/*vertical-align:middle;*/
}

#keyword {
	height: 35px;
	padding: 0;
	border: 1px solid #999999;
	width: 40%;
	max-width: 500px;
}

footer {
	font-size: 10px;
	margin-top: 270px;

	text-align: center;
	color: white;
}

footer ul li {
	list-style: none;
	float: left;
	padding: 0 6px;
	color: white;
	display:inline
}

footer ul {
	width:340px;
	height: 30px;
	margin: 0 auto;
}
footer li a {
	color: white;
}

.copy_right{
	margin-top: 20px;
	display: block;
	clear: both;
}